<%= form_for(@item) do |f|%>
	<p>
		<%= f.label :serial_number%><br>
		<%= f.text_field :serial_number%><br>
	</p>

	<p>
		<%= f.label :description%><br>
		<%= f.text_field :description%><br>
	</p>

	<p>
		<%= f.label :supplier%><br>
		<%= f.text_field :supplier%><br>
	</p>

	<p class="status">
		<%= f.label :status%><br>
		<%= f.select :status, ['Available', 'Not available']%>
	</p>

	<p class="lender">
		<%= f.label :lender%><br>
		<%= f.text_field :lender%><br>
	</p>
	<%= f.submit%>
<% end %>
